<h1 class="t3text-lg font-bold text-gray-900 mb-2 ml-60 text-center">PPPPP</h1>

<div class="flex justify-center items-center min-h-screen ml-60">
  <div class="w-full max-w-4xl bg-white p-8 rounded shadow-md border border-gray-300">
    <%= form_with(model: @content, url: admin_contents_path, local: true) do |form| %>


      <div class="field mb-4">
        <%= form.text_field :title, placeholder: "Title", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="field mb-4">
        <%= form.rich_text_area :content, placeholder: "I am your rich text editor.", rows: 10, class: "w-full border rounded p-3 text-gray-700 focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="flex justify-end space-x-2">
        <%= form.submit "Save", class: "bg-indigo-800 text-white font-semibold py-2 px-4 rounded-lg mr-4" %>
        <%= link_to 'Batal', admin_lessons_path, class: "bg-indigo-800 text-white font-semibold py-2 px-4 rounded-lg" %>
      </div>
    <% end %>
  </div>
</div>
